@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}


body{
    overflow-x:hidden;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 25px 15px;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    // border-radius: .5rem;
    background: #143a51;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn1{
    background-color: #ff5d68;
}

// page loader 

.page-loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #143a51;
    z-index: 10000;
    transition: all 0.6s ease;
}

.page-loader.fade-out{
    opacity: 0;
}

.page-loader::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: #ff5d68;
    left: calc(50% - 50px);
    top: calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
}

// keyframes 


@keyframes zoomInOut{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes pageLoader{
    0%,100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}

// header 

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;

    .navbar{
        width: 32%;

    .menuline{
        position: absolute;
        top: 4%;
        left: 3%;
        font-size: 28px;
        margin-right: 50px;
         cursor: pointer;
    }

    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        background-color: #143a51;
        z-index: 1;
        padding-top: 60px;
        transition: all 0.5s;

    a{
        display: block;
        padding: 30px 0 30px 20px;
        color: #fff;
        font-size: 21px;

        &:hover{
            background-color: #ff5d68;
            color: #fff;
            box-shadow: 5px 10px 30px rgba(252, 59,0,0.397);
        }

        span{
            margin-right: 10px;
        }
    }

    .closebtn{
        position: absolute;
        top: -18px;
        right: 25px;
        font-size: 40px !important;

        &:hover{
            background: none !important;
            box-shadow: none !important;
        }
    }

    }
    }
    .center-text{
        text-align: center;
        width: 32%;

        h1{
            color: #143a51;
        }
    }

    .icons{
        width: 32%;
        text-align: right;

        a,div{
            font-size: 2.5rem;
            margin-left: 2rem;
            color: #143a51;
        }
    }
}


// home section 


.home{
    width: 100%;
    padding: 0;
    padding-top: 7.6rem;

    .home-slider{


        .slide{
            min-height: 65vh;
            display: flex;
            align-items: center;
            padding: 10px 118px;
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-evenly;

           .home-image-left{
               width: 28%;

               img{
                   width: 100%;
                   height: 40rem;
                   z-index: -1;
               }
           }

           .content{
               width: 28%;

               h1{
                   font-size: 58px;
                   color: #143a51;
               }

               .btn1{
                   background-color: #ff5d68;
               }
           }

           .home-image-right{
               width: 28%;
               
               img{
                   width: 100%;
                   height: 30rem;
               }
           }
        }
    }
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: #ff5d68;
    color: #fff;

    &:hover{
        background: black;
        color: #fff;
    }

    &::after{
        font-size: 2rem;
    }
}

// header-2 section 

.header2{
    background-color: #143a51;
    width: 100%;

    .one{
        color: #fff;
        text-align: center;
    }
    .two{
        margin-top: 3rem;

        a{
            color: #fff;
            margin-right: 25px;
        }
    }
    
}


// product-1 

.product-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    flex-wrap: wrap;

    .box{
        border: 1px solid gray;
        width: 30%;

        .text1{
            text-align: center;

            h1{
                font-size: 28px !important;
            }
        }

        img{
            width: 100%;
            height: 35rem;
        }

        .box-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px;

            .left{

                width: 48%;

                .btn1{
                    background-color: #ff5d68;
                }
            }

            .right{
                display: flex;
                align-items: center;
                padding: 10px 21px;
                flex-wrap: wrap;
                width: 48%;


                h4{
                    font-size: 15px;
                    padding: 0 10px;
                }

                h5{
                    color: #ff5d68;
                    padding: 0 10px;
                }

                h6{
                    color: gray;
                    padding: 0 10px;
                    text-decoration: line-through;
                }
            }
        }
    }
}


// computers section 


.computers{
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid gray;
    width: 87%;
    margin: 0 auto;
    text-align: center;
    padding: 79px 79px;

    .box{
        width: 30%;

        .comp-text{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            h5{
                color: #ff5d68;
            }

            h6{
                text-decoration: line-through;
            }
        }

        img{
            width: 100%;
        }
    }
}



// man's clothing 


.man{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid gray;
    width: 87%;
    margin: 0 auto;

    .box{
        width: 48%;

        h1{
            font-weight: 700;
        }

        img{
            width: 100%;
            height: 35rem;
        }
    }
}


// woman's clothing 


.woman{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 87%;
    margin: 0 auto;

    .box{
        // width: 35%;

        h1{
            font-weight: 700;
            font-size: 40px;
        }

        img{
            width: 100%;
            height: 35rem;
        }
    }
}



// footer section 


.footer{
    width: 100%;
    background-color: #143a51;

    .footer-up{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 25px 10px;
        flex-wrap: wrap;

        h1{
            font-weight: 900;
            font-size: 51px;
        }

        .footer-icons{
            
            a{
                color: #fff;
                font-size: 25px;
                padding: 10px;
            }
        }
    }

    .footer-down{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .box{
            width: 25%;

            h3{
                color: #fff;
                font-size: 18px;
            }

            p,a{
                color: #768691;
            }

            a{
                display: block;
                padding-bottom: 1rem;
            }

            .fas{
                color: #fff;
                margin-right: 10px;
            }
        }
    }

    .copyright{
        text-align: center;
        color: #768691;
        padding: 40px 10px 10px 10px;
    }

}
































// media-queries 

@media (max-width:1100px){
    .product-1 .box {
        width: 100%;
        margin-bottom: 2rem;
    }

}


@media (max-width:768px){

    html {
        font-size: 55%;
    }

     .header{
         .navbar,.center-text,.icons{
             width: 100%;
         }
     }

    .header .navbar .menuline{
        top: 37%;
    }

    .header .icons div,
    .header .icons a{
        font-size: 1.5rem;
        margin-left: 1rem;
    }



.home .home-slider .slide .content h1 {
    font-size: 26px;
}

// .home .home-slider .slide .home-image-left img{
//     height: 21rem;
// }

.home .home-slider .slide .home-image-right img {
    height: 21rem;
}

.computers .box{
    width: 100%;
    margin-bottom: 2.5rem;
}

.man{
    width: 100%;
}

.man .box{
    width: 100%;
    margin-bottom: 2.8rem;
}

.woman{
    width: 100%;
}

.woman .box{
    width: 100%;
    margin-bottom: 2.8rem;
    text-align: center;

    img{
        height: auto;
    }
}

.footer .footer-up{
    flex-flow: column;
    text-align: center;

    .footer-icons{
        margin-top: 2rem;
    }
}


.footer .footer-down .box{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.home .home-slider .slide {
    padding: 2rem;
}

}


@media (max-width:501px){

    .home .home-slider .slide .home-image-left {
        width: 100%;
    }
    .home .home-slider .slide .home-image-right {
        width: 100%;
    }
    .home .home-slider .slide .content {
        width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev{
    display: none;
}

.product-1{
    padding: 0 1px;
}

.computers{
    padding: 18px 1px;
}

.header .center-text h1{
    font-size: 25px;
}

.header .icons div, .header .icons a {
    margin-left: 5px;
}

.header2 .two a{
    display: block;
    margin-bottom: 1rem;
}


.header2 .two{
    text-align: center;
}

}
  




